

* {
  text-align: center;
  margin: 0% auto;
  padding-inline-start: 0;
}

/* ------------------------
        WORD STYLINGS
--------------------------*/

li {
  list-style: none;
  margin-bottom: 2%;
}

a {
  text-decoration: none;
  color: black;
  font-style: italic;
}

.small {
  font-style: italic;
  font-size: .75rem;
}

/* -----------------------------
        HEADERS
-------------------------------*/

h1 {
  font-style: italic;
  margin-bottom: 3%;
}

h2 {
  margin-bottom: 3%;
  padding: 3%;
}



/* -----------------------------
            CARDS
-------------------------------*/

/* light grey / dark grey reveal */

.grey-header-an {
  background-color: grey;
  animation-name: revealHeaderGreyDark;
  animation-duration: 5s;
}

.grey-card-an {
  background-color: lightgrey;
  max-width: 75%;
  min-width: 75%;
  padding: 5%;
  animation-name: revealCardGreyLight;
  animation-duration: 5s;
}

      @keyframes revealCardGreyLight {
        from {
          background-color: white;
          color: white;
        }
        to {
          background-color: lightgrey;
          color: black;
        }
      }

      @keyframes revealHeaderGreyDark {
        from {
          background-color: white;
          color: white;
        }
        to {
          background-color: grey;
          color: black;
        }
      }

/* -----------------------------
        TOP & BOTTOM EDGERS
-------------------------------*/
/* #79abed - 121, 171, 237 - light blue - base */
/* #8632ba - 134, 50, 186 - purple - top gradient */
/* #0e3f80 - 14, 63, 128 - dark blue - shadow gradient */
/* #eeedf5 - 238, 237, 245 - light grey - box shadow */

.nav-cot {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.edger {
  background-color: #79abed; /*light blue*/
  background-image: linear-gradient( to bottom right, rgba(134, 50, 186, .75), rgba(14, 63, 128, .25), rgba(121, 171, 237, .25) ),
                    linear-gradient( to top left, rgba(134, 50, 186, .75), rgba(14, 63, 128, .25), rgba(121, 171, 237, .25) );
  margin-left: 0%;
  margin-right: 0%;
  min-width: 100%;
  padding-top: 3%;
  padding-bottom: 3%;
}

.top-nav {
  margin-bottom: 15%;
  box-shadow: 0px 25px 5px rgba(238, 237, 245, .25);
}

footer {
  margin-top: 25%;
  box-shadow: 0px -25px 5px rgba(238, 237, 245, .25);
}

.bottom-nav {
  display: none;
}

.nav-btn {
  font-size: 1.25rem;
  min-width: 50%;
  max-width: 50%;
}

.name {
  font-weight: bold;
  font-size: 1.75rem;
  min-width: 100%;
  max-width: 100%;
}


/* -------------------------
        MEDIA FORMATS
---------------------------*/

@media (min-width:760px) {

  /* top & bottom edgers */

  .nav-btn {
    min-width: 33%;
    max-width: 33%;
  }

  .bottom-nav-mobile {
    display: none;
  }

}



@media (min-width:1024px) {


  /* top & bottom edgers */
  .nav-btn {
    min-width: 25%;
    max-width: 25%;
  }

  .name {
    min-width: 25%;
    max-width: 25%;
  }

}
