/* 
COLOR PALLETTE
blue: #0259bd
purple: #c5b0eb
dk-grey: #1f2021     
white: #fcfcfc 

FONTS
font-family: "Sono", monospace;
font-family: "Bilbo Swash Caps", cursive; --- unused
font-family: "Bad Script", cursive;
*/

/* GENERAL */
* {
    box-sizing: border-box;
    color: #1f2021;
    font-family: 'Sono', monospace;
}

html {
    text-align: left;
    background-color: #0259bd;
    padding: 10px;
}

body {
    background-color: #fcfcfc;
    margin: 10px auto;
    width: 90%;
    padding: 10px;
    border-radius: 25px;
    filter: drop-shadow(10px 10px 5px black);
}

header {
    margin-bottom: 15%;
}

footer {
    margin-top: 15%;
    text-align: center;
}
footer div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

/* TYPOGRAPHY */
h1, h2, .home-sm, bold {
    font-family: "Bad Script", cursive;
    text-align: center;
}

/* LINKS */
a {
    text-decoration: none;
    margin: 10px auto;
    width: fit-content;
    border: 2px solid #0259bd;
    background-color: #0259bd;
    color: #fcfcfc;
    border-radius: 25px;
    font-size: xx-large;
}

/* NAVIGATION */
#home-nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}
#home-nav li {
    width: 100%;
}
#home-nav li a {
    width: 80%;
    border: 2px solid #0259bd;
    border-radius: 25px;
    color: #0259bd;
    background-color: #fcfcfc;
}

/* HOME  */
.home-names {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 10px;
}
.home-sm {
    font-size: medium;
    font-weight: 600;
}
.zack, .bella {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.zack {
    align-self: self-start;
}
.bella {
    align-self: self-end;
}
.zack:nth-child(1), .bella:nth-child(3) {
    align-self: self-start;
    text-align: left;
}
.zack:nth-child(3), .bella:nth-child(1) {
    align-self: self-end;
    text-align: right;
}
.home-names h1 {
    font-size: large;
}

/* REGISTRY */
#reg {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.reg-card {
    max-width: 45%;
    border: 1px solid #c5b0eb;
}