

* {
  text-align: center;
  margin-left: 2%;
  margin-right: 2%;
}

li {
  list-style: none;
  margin-bottom: 2%;
}

a {
  text-decoration: none;
  color: black;
  font-style: italic;
}

footer {
  margin-top: 15%;
}




.edger {
  background-color: #79abed;
  margin-left: 0%;
  margin-right: 0%;
  min-width: 100%;
  padding-top: 3%;
  padding-bottom: 3%;
}

.name {
  font-weight: bold;
}

.small {
  font-style: italic;
  font-size: .75rem;
}

.top-nav {
  margin-bottom: 15%;
}

.bottom-nav {
  display: none;
}




@media (min-width:760px) {





  .bottom-nav {
    display: block;
  }

  .bottom-nav-mobile {
    display: none;
  }
}
