footer.edger
  a.bottom-nav-mobile(href='/') BACK TO TOP
  ul.bottom-nav.nav-cot
    li.name Mr. &amp; Mrs. Bradbury
    li.nav-btn
      a(href='/home') HOME
  p.small &copy; Bella &amp; Zack Bradbury, 2023
