extends layout.pug 

block content 
    h1 MEDIA GALLERY 

    section 
        div 
            // day of engagement photos
        div 
            // day of engagmenet video
        div 
            // engagement phtoshoot 1
        div 
            // engagment photoshoot 2
        div 
            // Bella proposing video
