extends layout.pug 

block content 
    header 
        h1 Zack &amp; Bella
        p The future Mr. &amp; Mrs.

    article 
        h2 THE LATEST UPDATE
        // Lastest article from the news page

    section 
        h2 THE DETAILS
        div
            section 
                div 
                    h3 WHO 
                    p
                    | Isabel Fawn Haack 
                    br
                    |  and 
                    br
                    |  Zackary Michael Jones Bradbury
                    a(src='/story') Our Story
                div     
                    h3 WHEN 
                    p Saturday, October 5th, 2024
                    div 
                        h4 Ceremony 
                        h4 Reception 
                        p 5pm
                        p 6:45pm
            div 
                h3 WHERE 
                // image of the venue
                p
                | Full day held at 
                a(src='https://www.birchwoodmeadow.com' target='_blank') Birchwood Meadow
                div 
                    h4 Ceremony 
                    h4 Reception 
                    p Outdoors
                    p Indoors 
            section 
                div 
                    h3 ADULTS ONLY 
                    p Although we love everyone in our family, this will be an adults only event.
                div 
                    h3 UNPLUGGED CEREMONY 
                    p We ask that all electronics are pocketed during our ceremony. We have an amazing photogropher and videographer who will capture our ceremony, leaving our guests to relax and be with us in the moment.
            div 
                h3 ATTIRE 
                // image of colors to wear
                p We ask that you dress formaly and refrain from wearing blue or white to the event. 

    section 
        h2 LITTLE LETTERS OF LOVE FOR THE BRIDE AND GROOM 
        // previous messages from quote array
        // nav buttons
        // link to leave a message, pop-up window
                
           