extends layout.pug 

block content 
    header.section.home-header.placeholder-bkgd
        p The future Mr. &amp; Mrs.
        h1 BRADBURY

    article.section
        h2 THE LATEST UPDATE
        // Lastest article from the news page

    section.section
        h2 THE DETAILS
        div
            section 
                div.detail-card
                    h3 WHO 
                    div
                        p
                        | Isabel Fawn Haack 
                        br
                        |  and 
                        br
                        |  Zackary Michael Jones Bradbury
                        br
                        a(src='/story') Our Story
                div.detail-card
                    h3 WHEN 
                    div
                        p Saturday, October 5th, 2024
                        div.detail-inner-grid
                            h4 Ceremony 
                            h4 Reception 
                            p 5pm
                            p 6:45pm
            div.detail-card
                h3 WHERE 
                // image of the venue
                div
                    p
                    | Full day held at 
                    a(src='https://www.birchwoodmeadow.com' target='_blank') Birchwood Meadow
                    div.detail-inner-grid
                        h4 Ceremony 
                        h4 Reception 
                        p Outdoors
                        p Indoors 
            section 
                div.detail-card
                    h3 ADULTS ONLY
                    div
                        p Although we love everyone in our family, this will be an adults only event.
                div.detail-card
                    h3 UNPLUGGED CEREMONY
                    div
                        p We have an amazing photogropher and videographer who will capture our ceremony, letting our guests be with us in the moment.
            div.detail-card
                h3 ATTIRE 
                // image of colors to wear
                div
                    p We ask that you dress formaly and refrain from wearing blue or white to the event. 

    section.section
        h2 LITTLE LETTERS OF LOVE FOR THE BRIDE AND GROOM 
        // previous messages from quote array
        // nav buttons
        // link to leave a message, pop-up window
                
           