<!DOCTYPE html>
html(lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title The Bradbury's
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    include topNav
    block content
    include bottomNav