extends layout.pug 

block content 
    header 
        h1 OUR STORY 
        p Take a look at how the stars aligned to bring Bella and Zack together.

    div
        // picture slideshow - MOBILE ONLY
        // nav butons

    section 
        h2 THE TIMELINE 
        .zack-event 
            h3 OCTOBER 28TH, 1998
            // Zack baby picture
            p Zackary Michael Jones is born to Wade and Peggy Jones in Ohio.
        .bella-event 
            h3 SEPTEMBER 4TH, 1999
            // Bella baby picture
            p Isabel Fawn Haack is born to Phillip and Dawn Haack in Michigan.
        .zack-event 
            h3 2005/6
            // Jacob and Zack picture
            p Zack met Jacob Rahe, one of his best men.
        .zack-event 
            h3 2007/8
            // Wyatt and Zack picture
            p Zack met Wyatt Taylor, his other best man.
        .bella-event 
            h3 2011/12
            // Moving picture
            p Bella's family moved to Ohio to be closer to her dad's work.
        .bella-event 
            h3 2011/12
            // Crawford and Bella picture
            p Bella met Jonathan Crawford, one of her men of honor.
        .bella-event 
            h3 2017
            // Bella graduation picture
            p Bella graduated from Toledo School for the Arts.
        .zack-event 
            h3 2017
            // Zack graduation picture
            p Zack graduated from Anthony Wayne High School.
        .bella-event 
            h3 2017
            // Moving picture
            p Bella moved to Salt Lake City, Utah for college.
        .zack-event 
            h3 2019
            // Zack and Crockett photo
            p Zack moved in with his Pa and took over care of his dog Crockett, our ring bearer.
        .bella-event 
            h3 2019
            // Moving picture
            p Bella moved back to Ohio after booking a gig with Trumpet in the Land.
        .zack-event 
            h3 2019
            // Zack at Fort Meigs
            p Zack started working at Fort Meigs as seasonal maintentce with his Pa.
        .bella-event 
            h3 2020
            // Mark and Bella pic
            p Bella met Mark Murphy, her other man of honor.
        .bella-event 
            h3 2021
            // Bella at the fort
            p Bella started working at fort meigs as the seasonal interpreter where she meets Zack for the first time.
        .both-event 
            h3 JUNE 1ST, 2021
            // First date photo
            p Zack and Bella go on their first date.
            p Zack says "I Love You".
        .both-event 
            h3 2021
            // In the heights photo
            p Bella says "I Love You".
        .both-event 
            h3 OCTOBER 2021
            // End of summer photo
            p Zack and Bella finish their season with Fort Meigs.
        .both-event     
            h3 NOVEMBER 2021
            // Move in pic
            p Bella moves in with Zack after the passing of his Pa.
        .both-event 
            h3 SEPTEMBER 6TH, 2022
            // Engagement pics
            p Zack proposed to Bella while on a family trip for Bella's birthday.

    div 
        // heart shapped card
        h3 OCTOBER 5TH, 2024
        // picture of rings
