nav.top-nav
ul.nav-cot
    li.name Mr. &amp; Mrs. Bradbury
    li.nav-btn
        a(href='/home') HOME
    li.nav-btn
        a(href='/story') OUR STORY
    li.nav-btn
        a(href='/news') NEWS
    li.nav-btn
        a(href='/gallery') GALLERY