/*  NAVY BLUE #000080  
    EMINENCE #6A408A
    CORNFLOWER BLUE #7C9DE9
    SILVER #C0C0C0
    WHITE #FFF   */
 /* Background Image Placeholder: palevioletred */





/* ---------- GENERAL STYLES ---------- */
* {
  margin: 0 auto;
  text-align: center;
}
.section {
  margin: 10% 0;
}
.placeholder-bkgd {
  background-color: palevioletred;
}

/* ---------- HOME PAGE ---------- */

/* header */
.home-header p {
  text-align: start;
  padding: 20% 5%;
}
.home-header h1 {
  text-align: end;
  padding: 20% 5%;
}

/* latest update section */

/* details section */
.detail-card {
  /* background-color: silver; */
  margin: 3%;
  min-width: 90vw;
  max-width: 90vw;
  min-height: 20vh;
  max-height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: solid medium navy;
}
.detail-card h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7C9DE9;
  color: navy;
  border-right: solid medium navy;
  min-width: 35vw;
  max-width: 35vw;
  min-height: inherit;
  max-height: inherit;
  margin: 0;
}
.detail-card div {
  display: flex;
  background-color: silver;
  min-height: inherit;
  max-height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.detail-inner-grid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}